html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;

  background: linear-gradient(
    -45deg,
    #fde4ef,
    #f8bbd0,
    #f3e5f5,
    #fce4ec
  );
  background-size: 300% 300%;
  animation: softGradient 30s ease-in-out infinite;
}

@keyframes softGradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#overlay{
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  gap: 12px;
  background: rgba(252, 228, 236, 0.85);
  backdrop-filter: blur(6px);
}

#overlay h1{
  margin: 0;
  font-size: 48px;
  color: #7a1c4b;
}

#startBtn{
  border: none;
  padding: 14px 26px;
  font-size: 18px;
  border-radius: 18px;
  background: #ff5fa2;
  color: white;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(255, 95, 162, 0.35);
}

#startBtn:hover{
  transform: translateY(-1px);
}


#game {
  display: block;
  width: 100vw;
  height: 100vh;

   box-shadow: inset 0 0 120px rgba(255, 255, 255, 0.6);
}

#endOverlay{
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  gap: 12px;
  background: rgba(252, 228, 236, 0.85);
  backdrop-filter: blur(6px);
}

#endOverlay h1{
  margin: 0;
  font-size: 48px;
  color: #7a1c4b;
}

#endOverlay p{
  margin: 0;
  font-size: 22px;
  color: #7a1c4b;
}

#restartBtn{
  border: none;
  padding: 14px 26px;
  font-size: 18px;
  border-radius: 18px;
  background: #ff5fa2;
  color: white;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(255, 95, 162, 0.35);
}
